<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.warren_bank.cli_feedback">

    <application
        android:label="@string/app_name"
        android:allowBackup="false"
        android:supportsRtl="false">

        <activity
            android:name=".Show"
            android:launchMode="singleTask"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Play"
            android:launchMode="singleTask"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>
</manifest>
